{% extends 'base_logged.html' %}
{% load django_bootstrap5 i18n %}

{% block content %}
<div>
	<a href="{% url 'logistics:all' %}">{% trans 'Back' %}</a>
	<h1 class="text-center">{% trans 'Departure' %}</h1>
	<h2 class="">ID: {{ object.id }} | Status: {{ object.get_status_display }}</h2>
	<div>
		<a class="btn btn-primary" href="{% url 'logistics:update' object.id %}">{% trans 'Update' %}</a>
		<a class="btn btn-danger" href="{% url 'logistics:delete' object.id %}">{% trans 'Delete' %}</a>
	</div>
</div>


<div>
	<table class="table table-dark table-striped">
		<tr>
			<th>{% trans 'Description' %}</th>
			<th>{% trans 'Value' %}</th>
		</tr>
		{% for label, value in object.get_fields %}
			<tr>
				<td>{{ label }}</td>
				<td>{{ value }}</td>
			</tr>
		{% endfor %}	
	</table>
</div>

		<div>
			<h2>{% trans 'Tasks' %}:</h2>
			{% with tasks=object.tasks.all %}
				{% if tasks %}
					<table class="table table-dark table-striped">
						<tr>
							<th>ID</th>
							<th>{% trans 'Title' %}</th>
							<th>{% trans 'Address' %}</th>
							<th>{% trans 'Coordinates' %}</th>
							<th>{% trans 'Description' %}</th>
						</tr>
						{% for task in tasks %} 
							<tr>
									<td><a href="{{ task.get_absolute_url }}">{{ task.id }}</a></td>
									<td>{{ task.title }}</td>
									<td>{{ task.address }}</td>
									<td>{{ task.coordinates.coords }}</td>
									<td>{{ task.description }}</td>
							</tr>
						{% endfor %}
					</table>
				{% endif %}
			{% endwith %}
		</div>
{% endblock %}
