{% load django_bootstrap5 i18n static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
		<!-- LOGO -->
		<a class="navbar-brand" href="{% url 'index' %}">
			<img src="{% static '/logo.png' %}" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
    </a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<!-- Home -->
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{% url 'index' %}">{% trans 'home'|capfirst %}</a>
				</li>

				<!-- Group manager -->
				<li class="nav-item">
					<a class="nav-link" href="#">{% trans "group manager"|capfirst %}</a>
				</li>

				<!-- Account manager-->
				<li class="nav-item">
					<a class="nav-link" href="#">{% trans "account manager"|capfirst %}</a>
				</li>

				<!-- Requests -->
				<li class="nav-item">
					<a class="nav-link" href="{% url 'search_requests:all' %}">{% trans "requests"|capfirst %}</a>
				</li>

				<!-- Logistics manager-->
				<li class="nav-item">
					<a class="nav-link" href="#">{% trans "logistics manager"|capfirst %}</a>
				</li>

				<!-- Reports -->
				<li class="nav-item">
					<a class="nav-link" href="#">{% trans "reports"|capfirst %}</a>
				</li>

				<!-- Tools -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						{% trans 'tools'|capfirst %}
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">{% trans 'Telegram bot "Smart search"' %}</a></li>
						<li><a class="dropdown-item" href="#">{% trans 'Request coordinates' %}</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" href="#">{% trans 'Compas-director' %}</a></li>
					</ul>
				</li>

				<!-- Logout -->
				<li class="nav-item">{% include 'components/logout.html' %} </li>
			</ul>

			<!-- Search -->
			<form class="d-flex mb-0" role="search">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">{% trans 'search'|capfirst %}</button>
			</form>

		</div>
  </div>
</nav>
