{% load i18n django_bootstrap5 %}

<!-- Button trigger modal -->
{% trans 'user agreement' as user_agreement %}
<div>
	{% blocktrans %}By clicking the 'Login' button, you agree to the terms of the <button type="button" class="btn btn-link link-body-emphasis align-baseline px-0" data-bs-toggle="modal" data-bs-target="#staticBackdrop">{{ user_agreement }}</button>.{% endblocktrans %}
</div>

	<!-- Modal -->
	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="staticBackdropLabel">{{ user_agreement|capfirst }}</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div style="white-space: pre-line;">{{ user_agreement_terms }}</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</span>

